.page {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding-top: 10px;
    padding-left: 10px;
    overflow: hidden;
}

div#topBar {
    margin: 1vh;
    background-color: white;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgb(60 66 87 / 2%), 0 5px 5px 0 rgb(0 0 0 / 3%);
    border-style: solid;
}

button {
    width: 40px;
    height: 20px;
}

.mainPanel {
    box-shadow: 0 15px 35px 0 rgb(60 66 87 / 8%), 0 5px 15px 0 rgb(0 0 0 / 12%);
    border-radius: 15px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 52ex;
    padding-left: 15px;
    padding-top: 5px;
}

.main {
    overflow-y: auto;
}

.verticalGroup {
    display: block;
}

.sidebar {
    overflow-x: auto;
}

.stats {
    overflow-x: hidden;
    overflow-y: auto;
}

.history {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row ::deep a,
.top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1572.98px) {
    .top-row:not(.auth) {
        display: none;
    }
    .top-row.auth {
        justify-content: space-between;
    }
    .top-row a,
    .top-row .btn-link {
        margin-left: 0;
    }
    .page {
        padding: 0px;
        height: 100%;
    }
    .sidebar {
        position: absolute;
        height: 100vh;
        top: 0;
        width: 66% !important;
        background-color: white;
        border-radius: 10px;
    }
    .mainPanel {
        margin-bottom: 5px;
        width: 100%;
        box-shadow: none;
        border-radius: 3px;
        border-width: 1px;
    }
    .main {
        bottom: 205px;
        top: 0;
        position: absolute;
    }
    .stats {
        min-height: 105px;
        max-height: 105px;
        bottom: 100px;
        position: absolute;
    }
    .history {
        min-height: 100px;
        max-height: 100px;
        bottom: 0;
        position: absolute;
    }
    .verticalGroup {
        position: absolute;
        top: 4vh;
        bottom: 0;
        width: 100%;
    }
    div#topBar {
        height: 5vh;
    }
}

@media (min-width: 1573px) {
    .page {
        flex-direction: row;
    }
    .sidebar {
        width: 25vw;
        height: 98.2vh;
        position: sticky;
        top: 0;
    }
    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .main>div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
    .sidebar {
        max-height: 100vh;
        width: 40vw;
    }
    .main {
        max-height: 72vh;
        height: 72vh;
        width: 66vw;
        overflow: auto;
    }
    .history {
        height: 12vh;
        max-height: 12vh;
        width: 66vw;
    }
    .stats {
        height: 12.5vh;
        max-height: 12.5vh;
        width: 66vw;
    }
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}

h1 {
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

td,
th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

DiceBox {
    border-radius: 1px;
    padding-top: 10px;
    height: 90%;
    display: block;
    padding: 20px;
}

div#diceSquare {
    width: 65px;
    height: 65px;
    display: inline-block;
    position: relative;
}

div#face {
    width: 55px;
    height: 55px;
    position: absolute;
    margin: 10px;
    margin-top: 14px;
    border-radius: 15px;
}

div#outline {
    width: 75px;
    height: 75px;
    position: absolute;
}

img#dieDots {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #7b7b7b;
    position: absolute;
}

input#smallDie {
    width: 100%;
    height: 100%;
    position: absolute;
}

input#smallInput {
    width: 60px;
    border-radius: 5px;
    border-width: 0px;
    padding: 4px;
    margin: 3px;
    border-width: 1px;
    border-color: grey;
}

input#icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 3px;
}

table#configureTable {
    table-layout: fixed;
}

button#colorSelect {
    border-radius: 15px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 3px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

button#selectShape {
    border-radius: 5px;
    margin: 3px;
    border-width: 0px;
    width: 4eX;
    background-color: lightgray;
    padding: 4px;
}

input#delete {
    border-radius: 5px;
    width: 4eX;
    height: 4eX;
    display: inline-block;
    background-color: #E64A39;
    border-width: 0px;
    padding: 3px;
}

input#plusButton {
    border-radius: 5px;
    width: 4eX;
    height: 4eX;
    background-color: #3bb958;
    padding: 6px;
    margin: 5px;
    margin-left: 10px;
}

button#roll {
    border-radius: 8px;
    width: 8eX;
    height: 5eX;
    display: inline-block;
    background-color: #89a7e3;
    color: white;
    border-width: 0px;
    font-style: bold;
    margin: 15px;
    margin-top: 20px;
}

h1#dieText {
    width: 98%;
    height: 100%;
    text-align: center;
    padding-top: 18px;
    font-size: x-large;
    position: absolute;
}

h1#explanation {
    position: absolute;
}

div#historyBox {
    margin-right: 5px;
    border-radius: 5px;
    background-color: #85a9c7;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: xx-large;
    text-align: center;
    position: relative;
}

button#viewHistoryButton {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-color: royalblue;
    color: white;
    outline: 0;
    border-radius: 8px;
    border-style: solid;
}

button:focus {
    outline: 0;
}

div#sumBox {
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}

div#sumBoxText {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 40px;
    position: absolute;
    margin-top: 30px;
    font-size: x-large;
}

h4#title {
    margin-bottom: 0px;
    font-size: 1.2rem;
}

img#decal {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 0px;
    margin: 10%;
}